# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
# Custom ignores
*.csv
st/

